.cart-item {
  background: white;
  color: black;
  display: flex;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.cart-item img {
  width: 70px;
}

.cart-item button {
  border-radius: 100%;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.cart h5,
.cart p {
  margin: 0;
}
